<div class="commodity-home">
    <h2>Trending Commodities</h2>
    <table>
      <thead>
        <tr>
          <th>Symbol</th>
          <th>Name</th>
          <th>Price</th>
          <th>DailyChange%</th>
        </tr>
      </thead>
      <tbody>
        <tr 
          *ngFor="let c of trendingCommodities" 
          [routerLink]="['/markets/commodities', c.symbol]"
        >
          <td>{{ c.symbol }}</td>
          <td>{{ c.name }}</td>
          <td>{{ c.currentPrice | number:'1.2-2' }}</td>
          <td [ngClass]="{
            'pos-change': c.dailyChangePercent && c.dailyChangePercent > 0,
            'neg-change': c.dailyChangePercent && c.dailyChangePercent < 0
          }">
            {{ c.dailyChangePercent !== undefined ? (c.dailyChangePercent | number:'1.2-2') : 'N/A' }}%
          </td>
        </tr>
      </tbody>
    </table>
  
    <div class="search-section">
      <h2>Search Commodities</h2>
      <input [(ngModel)]="query" placeholder="Symbol" (keyup.enter)="search()" />
      <button (click)="search()">Search</button>
  
      <div *ngIf="searchResults.length > 0">
        <ul>
          <li 
            *ngFor="let r of searchResults" 
            [routerLink]="['/markets/commodities', r.symbol]"
          >
            {{ r.symbol }} - {{ r.name }}
          </li>
        </ul>
      </div>
    </div>
  </div>
  